<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Share your SECRETS!</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/register" role="button">REGISTER</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">LOGIN</a>

  </div>
</div>

<%- include('partials/footer') %>
